body{
   display: flex;
   justify-content: center;
   height: 100vh;
   background-color: hsl(0, 0%, 8%);
   color: white;
   font-family: "inter";
   align-items: center;
 }
 
 .frame{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 35px 30px 15px 30px;
   background-color:  hsl(0, 0%, 12%);
   border-radius: 10px;
   margin-bottom: 50px;
 }
 .button{
   padding: 15px;
   width: 350px;
   border-radius: 10px;
   text-align: center;
   background-color:  hsl(0, 0%, 20%);
   color: white;
   border: none;
   font-size: 14px;
   font-weight: bold;
 }
 .button:hover{
   background-color: hsl(0, 0%, 8%);
   color: lightgray;
   transition: 0.1s;
   cursor: pointer;
    
   
 }
 .button:active{
   background-color: hsl(75, 94%, 57%);
   color: hsl(0, 0%, 8%);
   font-weight: bolder;
 }
 .jessica-pic{
   width: 80px;
   height: 80px;
   object-fit: cover;
   border-radius: 40px;
 }
 h1{
   font-size: 25px;
   margin-bottom: 8px;
 }
 .location{
   color:  hsl(75, 94%, 57%);
   margin: 0px;
   font-size: 13px;
   font-weight: bold;
 }
 p{
   font-size: 13px;
   color: lightgray;
   margin-top: 35px;
   margin-bottom: 25px;
 }
 .attribution {
   font-size: 13px;
   text-align: center;
   position: absolute;
   right: 20px;
   bottom: 10px;
 }
 .attribution a {
   color: hsl(84, 68%, 55%);
 }